hr {
  margin-bottom: 50px;
}

button {
  display: block;
  width: 180px;
  height: 38px;
  outline: none;
  font-size: 16px;
  background-color: lightcoral;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin: 50px auto;
}

[aria-label]::before, [aria-label]::after {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

[aria-label]:hover::before, [aria-label]:hover::after {
  transition: all 0.2s;
  opacity: 1;
  z-index: 5;
}

[aria-label]::before {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

[aria-label]::after {
  content: attr(aria-label);
  padding: 0.2em 1em;
  white-space: nowrap;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
}

[aria-label][date-ballon-pos="up"]::before, [aria-label][date-ballon-pos="up"]::after {
  transform: translate(-50%, 50%);
  left: 50%;
}

[aria-label][date-ballon-pos="up"]:hover::before, [aria-label][date-ballon-pos="up"]:hover::after, [aria-label][date-ballon-pos="up"][data-balloon-visible]::before, [aria-label][date-ballon-pos="up"][data-balloon-visible]::after {
  top: 0;
  transform: translate(-50%, calc(-100% - 12px));
}

[aria-label][date-ballon-pos="up"]:hover::before, [aria-label][date-ballon-pos="up"][data-balloon-visible]::before {
  border-top-color: black;
  transform: translate(-50%, -100%);
}

[aria-label][date-ballon-pos="left"]::before, [aria-label][date-ballon-pos="left"]::after {
  left: 0;
  bottom: 50%;
  transform: translate(-100%, 50%);
}

[aria-label][date-ballon-pos="left"]:hover::after, [aria-label][date-ballon-pos="left"][data-balloon-visible]::after {
  transform: translate(calc(-100% - 12px), 50%);
}

[aria-label][date-ballon-pos="left"]:hover::before, [aria-label][date-ballon-pos="left"][data-balloon-visible]::before {
  border-left-color: black;
  transform: translate(-100%, 50%);
}

[aria-label][date-ballon-pos="down"]::before, [aria-label][date-ballon-pos="down"]::after {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

[aria-label][date-ballon-pos="down"]:hover::before, [aria-label][date-ballon-pos="down"][data-balloon-visible]::before {
  transform: translate(-50%, 100%);
  border-bottom-color: black;
}

[aria-label][date-ballon-pos="down"]:hover::after, [aria-label][date-ballon-pos="down"][data-balloon-visible]::after {
  transform: translate(-50%, calc(100% + 12px));
}

[aria-label][date-ballon-pos="right"]::before, [aria-label][date-ballon-pos="right"]::after {
  right: 0;
  bottom: 50%;
  transform: translate(0, 50%);
}

[aria-label][date-ballon-pos="right"]:hover::after, [aria-label][date-ballon-pos="right"][data-balloon-visible]::after {
  transform: translate(calc(100% + 12px), 50%);
}

[aria-label][date-ballon-pos="right"]:hover::before, [aria-label][date-ballon-pos="right"][data-balloon-visible]::before {
  border-right-color: black;
  transform: translate(100%, 50%);
}

[aria-label][date-ballon-pos="up-left"]::before, [aria-label][date-ballon-pos="up-left"]::after {
  left: 0;
  top: 0;
}

[aria-label][date-ballon-pos="up-left"]:hover::before, [aria-label][date-ballon-pos="up-left"][data-balloon-visible]::before {
  border-top-color: black;
  transform: translate(8px, -100%);
}

[aria-label][date-ballon-pos="up-left"]:hover::after, [aria-label][date-ballon-pos="up-left"][data-balloon-visible]::after {
  transform: translate(0, calc(-100% - 12px));
}

[aria-label][date-ballon-pos="up-right"]::before, [aria-label][date-ballon-pos="up-right"]::after {
  right: 0;
  top: 0;
}

[aria-label][date-ballon-pos="up-right"]:hover::before, [aria-label][date-ballon-pos="up-right"][data-balloon-visible]::before {
  border-top-color: black;
  transform: translate(-8px, -100%);
}

[aria-label][date-ballon-pos="up-right"]:hover::after, [aria-label][date-ballon-pos="up-right"][data-balloon-visible]::after {
  transform: translate(0, calc(-100% - 12px));
}

[aria-label][date-ballon-pos="down-left"]::before, [aria-label][date-ballon-pos="down-left"]::after {
  left: 0;
  bottom: 0;
}

[aria-label][date-ballon-pos="down-left"]:hover::before, [aria-label][date-ballon-pos="down-left"][data-balloon-visible]::before {
  border-bottom-color: black;
  transform: translate(8px, 100%);
}

[aria-label][date-ballon-pos="down-left"]:hover::after, [aria-label][date-ballon-pos="down-left"][data-balloon-visible]::after {
  transform: translate(0, calc(100% + 12px));
}

[aria-label][date-ballon-pos="down-right"]::before, [aria-label][date-ballon-pos="down-right"]::after {
  right: 0;
  bottom: 0;
}

[aria-label][date-ballon-pos="down-right"]:hover::before, [aria-label][date-ballon-pos="down-right"]:hover::after, [aria-label][date-ballon-pos="down-right"][data-balloon-visible]::before, [aria-label][date-ballon-pos="down-right"][data-balloon-visible]::after {
  opacity: 1;
}

[aria-label][date-ballon-pos="down-right"]:hover::before, [aria-label][date-ballon-pos="down-right"][data-balloon-visible]::before {
  border-bottom-color: black;
  transform: translate(-8px, 100%);
}

[aria-label][date-ballon-pos="down-right"]:hover::after, [aria-label][date-ballon-pos="down-right"][data-balloon-visible]::after {
  transform: translate(0, calc(100% + 12px));
}

[aria-label][data-ballon-length="medium"]::after {
  width: 130px;
  white-space: normal;
}

[aria-label][data-ballon-length="large"]::after {
  width: 240px;
  white-space: normal;
}

[aria-label][data-ballon-length="large"]::after {
  width: 240px;
  white-space: normal;
}

[aria-label][data-ballon-length="Xlarge"]::after {
  width: 350px;
  white-space: normal;
}

[aria-label][data-ballon-length="fit"]::after {
  box-sizing: border-box;
  width: 100%;
  white-space: normal;
}

[aria-label][data-balloon-blunt]::after, [aria-label][data-balloon-blunt]::before {
  transition: none;
}

[aria-label][data-balloon-visible]::after, [aria-label][data-balloon-visible]::before {
  opacity: 1;
  z-index: 5;
}
